{% extends "base.html" %}

{% block content %}
{{ super() }}
{% endblock %}

{% block content_article_footer %}
<hr>

<script src="https://giscus.app/client.js"
        data-repo="umbassa-long/wiki-code"
        data-repo-id="R_kgDOP3PyJA"
        data-category="Neuigkeiten"
        data-category-id="DIC_kwDOP3PyJM4Cx8D4"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="de"
        crossorigin="anonymous"
        async>
</script>

{% endblock %}