/* docs/assets/extra.css */

/* Allgemeine Schriftgröße */
.md-typeset {
    font-size: 1.05em;
}

/* Tabellen-Styling (Entfernt Rahmen und fügt Abstand hinzu) */
.md-typeset table {
    border: none !important;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-bottom: 30px;
}
.md-typeset table th,
.md-typeset table td {
    border: none !important;
    padding: 15px 12px;
}

/* --- FARBSCHEMASPEZIFISCHES STYLING --- */

/* Helles Schema (default) */
.md-theme-default .md-typeset table tbody tr {
    background-color: #fcfcfc; /* Heller Hintergrund für die Zellen */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

/* Dunkles Schema (slate) */
.md-theme-slate .md-typeset table tbody tr {
    /* Wichtig: Nutzt die Hintergrundfarbe des Headers im Dunkelmodus, was dunkler ist */
    background-color: var(--md-code-bg-color); 
    box-shadow: none;
    border-radius: 5px;
}