{% extends "base.html" %}

{% block content %}

{% if page.is_homepage %}

<h2>🚀 Neueste Beiträge</h2>

{# --- Alle Seiten aus nav.pages sammeln, nur mit einem Datum --- #}
{% set dated_pages = [] %}

{% for p in nav.pages %}
    {% if p.meta is defined %}
        {% if p.meta.revision_date is defined %}
            {% set dated_pages = dated_pages + [(p, p.meta.revision_date)] %}
        {% elif p.meta.git_revision_date_localized is defined %}
            {% set dated_pages = dated_pages + [(p, p.meta.git_revision_date_localized)] %}
        {% endif %}
    {% endif %}
{% endfor %}

{# --- Sortieren nach Datum, neueste zuerst --- #}
{% set sorted_pages = dated_pages | sort(attribute=1, reverse=True) %}

<ul>
{% for p, date in sorted_pages | slice(3) %}
    <li>
        <a href="{{ p.url | url }}">{{ p.title }}</a>
        <small>
            (zuletzt geändert: 
            {% if p.meta.revision_date is defined %}
                {{ p.meta.revision_date.strftime('%Y-%m-%d') }}
            {% else %}
                {{ p.meta.git_revision_date_localized }}
            {% endif %}
            )
        </small>
    </li>
{% endfor %}
</ul>

<hr>

{% endif %}

{{ super() }}

{% endblock %}


{% block content_article_footer %}

<hr>

<script src="https://giscus.app/client.js"
        data-repo="umbassa-long/wiki-code"
        data-repo-id="R_kgDOP3PyJA"
        data-category="Neuigkeiten"
        data-category-id="DIC_kwDOP3PyJM4Cx8D4"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="de"
        crossorigin="anonymous"
        async>
</script>

{% endblock %}
