/* ==========================================================================
   GLOBALE SCHRIFTGRÖSSE
   ========================================================================== */
:root {
    --md-font-size: 1.2em; /* ca. 19.2px */
}

/* SCHRIFTGRÖSSE DES HAUPTTEXTES */
.md-typeset {
    font-size: 1.0em; /* verhindert doppelte Skalierung */
}

/* ==========================================================================
   TABELLEN-STYLING (Card-Look)
   ========================================================================== */
.md-typeset table {
    border: none !important;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-bottom: 30px;
    width: 100%;
}

.md-typeset table th,
.md-typeset table td {
    border: none !important;
    padding: 15px 12px;
    color: inherit; /* Textfarbe übernehmen */
}

/* HELL (default) */
.md-theme-default .md-typeset table tbody tr {
    background-color: #fcfcfc;
